<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUsuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUsuarioLabel_nombes}" for="nombes" />
                    <h:inputText id="nombes" value="#{usuarioController.selected.nombes}" title="#{bundle.CreateUsuarioTitle_nombes}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nombes}"/>
                    <h:outputLabel value="#{bundle.CreateUsuarioLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{usuarioController.selected.apellidos}" title="#{bundle.CreateUsuarioTitle_apellidos}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.CreateUsuarioLabel_puesto}" for="puesto" />
                    <h:inputText id="puesto" value="#{usuarioController.selected.puesto}" title="#{bundle.CreateUsuarioTitle_puesto}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_puesto}"/>
                    <h:outputLabel value="#{bundle.CreateUsuarioLabel_login}" for="login" />
                    <h:inputText id="login" value="#{usuarioController.selected.login}" title="#{bundle.CreateUsuarioTitle_login}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_login}"/>
                    <h:outputLabel value="#{bundle.CreateUsuarioLabel_pwd}" for="pwd" />
                    <h:inputText id="pwd" value="#{usuarioController.selected.pwd}" title="#{bundle.CreateUsuarioTitle_pwd}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_pwd}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usuarioController.create}" value="#{bundle.CreateUsuarioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.CreateUsuarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateUsuarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
