<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_nombes}" for="nombes" />
                    <h:inputText id="nombes" value="#{usuarioController.selected.nombes}" title="#{bundle.EditUsuarioTitle_nombes}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nombes}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{usuarioController.selected.apellidos}" title="#{bundle.EditUsuarioTitle_apellidos}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_puesto}" for="puesto" />
                    <h:inputText id="puesto" value="#{usuarioController.selected.puesto}" title="#{bundle.EditUsuarioTitle_puesto}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_puesto}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_login}" for="login" />
                    <h:inputText id="login" value="#{usuarioController.selected.login}" title="#{bundle.EditUsuarioTitle_login}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_login}"/>
                    <h:outputLabel value="#{bundle.EditUsuarioLabel_pwd}" for="pwd" />
                    <h:inputText id="pwd" value="#{usuarioController.selected.pwd}" title="#{bundle.EditUsuarioTitle_pwd}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_pwd}"/>
                </h:panelGrid>
                <h:commandLink action="#{usuarioController.update}" value="#{bundle.EditUsuarioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsuarioViewLink}"/>
                <br />
                <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.EditUsuarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsuarioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
