<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    <h:body rendered="#{login.usuario!=null}">
        <p>Hello from Facelets</p>
        <h:form>
            <p:commandButton value="cerrar sesion" action="#{login.logout()}"/>
        </h:form>
    </h:body>                                   
</html>

