<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetallepedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetallepedidoLabel_idDetallepedido}" for="idDetallepedido" />
                    <h:inputText id="idDetallepedido" value="#{detallepedidoController.selected.idDetallepedido}" title="#{bundle.CreateDetallepedidoTitle_idDetallepedido}" required="true" requiredMessage="#{bundle.CreateDetallepedidoRequiredMessage_idDetallepedido}"/>
                    <h:outputLabel value="#{bundle.CreateDetallepedidoLabel_cantidad}" for="cantidad" />
                    <h:inputText id="cantidad" value="#{detallepedidoController.selected.cantidad}" title="#{bundle.CreateDetallepedidoTitle_cantidad}" required="true" requiredMessage="#{bundle.CreateDetallepedidoRequiredMessage_cantidad}"/>
                    <h:outputLabel value="#{bundle.CreateDetallepedidoLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{detallepedidoController.selected.precio}" title="#{bundle.CreateDetallepedidoTitle_precio}" required="true" requiredMessage="#{bundle.CreateDetallepedidoRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.CreateDetallepedidoLabel_libroIsbn}" for="libroIsbn" />
                    <h:selectOneMenu id="libroIsbn" value="#{detallepedidoController.selected.libroIsbn}" title="#{bundle.CreateDetallepedidoTitle_libroIsbn}" required="true" requiredMessage="#{bundle.CreateDetallepedidoRequiredMessage_libroIsbn}">
                        <f:selectItems value="#{libroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateDetallepedidoLabel_numPedido}" for="numPedido" />
                    <h:selectOneMenu id="numPedido" value="#{detallepedidoController.selected.numPedido}" title="#{bundle.CreateDetallepedidoTitle_numPedido}" required="true" requiredMessage="#{bundle.CreateDetallepedidoRequiredMessage_numPedido}">
                        <f:selectItems value="#{pedidoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detallepedidoController.create}" value="#{bundle.CreateDetallepedidoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detallepedidoController.prepareList}" value="#{bundle.CreateDetallepedidoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDetallepedidoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
