<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetallepedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetallepedidoLabel_idDetallepedido}"/>
                    <h:outputText value="#{detallepedidoController.selected.idDetallepedido}" title="#{bundle.ViewDetallepedidoTitle_idDetallepedido}"/>
                    <h:outputText value="#{bundle.ViewDetallepedidoLabel_cantidad}"/>
                    <h:outputText value="#{detallepedidoController.selected.cantidad}" title="#{bundle.ViewDetallepedidoTitle_cantidad}"/>
                    <h:outputText value="#{bundle.ViewDetallepedidoLabel_precio}"/>
                    <h:outputText value="#{detallepedidoController.selected.precio}" title="#{bundle.ViewDetallepedidoTitle_precio}"/>
                    <h:outputText value="#{bundle.ViewDetallepedidoLabel_libroIsbn}"/>
                    <h:outputText value="#{detallepedidoController.selected.libroIsbn}" title="#{bundle.ViewDetallepedidoTitle_libroIsbn}"/>
                    <h:outputText value="#{bundle.ViewDetallepedidoLabel_numPedido}"/>
                    <h:outputText value="#{detallepedidoController.selected.numPedido}" title="#{bundle.ViewDetallepedidoTitle_numPedido}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detallepedidoController.destroyAndView}" value="#{bundle.ViewDetallepedidoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDetallepedidoEditLink}"/>
                <br />
                <h:commandLink action="#{detallepedidoController.prepareCreate}" value="#{bundle.ViewDetallepedidoCreateLink}" />
                <br />
                <h:commandLink action="#{detallepedidoController.prepareList}" value="#{bundle.ViewDetallepedidoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDetallepedidoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
