<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAutorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAutorLabel_idAutor}" for="idAutor" />
                    <h:inputText id="idAutor" value="#{autorController.selected.idAutor}" title="#{bundle.CreateAutorTitle_idAutor}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_idAutor}"/>
                    <h:outputLabel value="#{bundle.CreateAutorLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{autorController.selected.nombres}" title="#{bundle.CreateAutorTitle_nombres}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.CreateAutorLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{autorController.selected.apellidos}" title="#{bundle.CreateAutorTitle_apellidos}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_apellidos}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{autorController.create}" value="#{bundle.CreateAutorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{autorController.prepareList}" value="#{bundle.CreateAutorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAutorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
