<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAutorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAutorLabel_idAutor}"/>
                    <h:outputText value="#{autorController.selected.idAutor}" title="#{bundle.ViewAutorTitle_idAutor}"/>
                    <h:outputText value="#{bundle.ViewAutorLabel_nombres}"/>
                    <h:outputText value="#{autorController.selected.nombres}" title="#{bundle.ViewAutorTitle_nombres}"/>
                    <h:outputText value="#{bundle.ViewAutorLabel_apellidos}"/>
                    <h:outputText value="#{autorController.selected.apellidos}" title="#{bundle.ViewAutorTitle_apellidos}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{autorController.destroyAndView}" value="#{bundle.ViewAutorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAutorEditLink}"/>
                <br />
                <h:commandLink action="#{autorController.prepareCreate}" value="#{bundle.ViewAutorCreateLink}" />
                <br />
                <h:commandLink action="#{autorController.prepareList}" value="#{bundle.ViewAutorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAutorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
