<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"></h:outputStylesheet>
    </h:head>
    <h:body>
        <h:form>
            <h1>Carro de compra</h1>
            <ui:repeat var="lib" value="#{carroCompra.carro}">
            <h:panelGrid columns="2">
                <p:graphicImage styleClass="imglib" library="images" name="#{lib.isbn}.jpg"></p:graphicImage>
                <h:panelGroup>
                    <h:panelGrid styleClass="librodetail" columnClasses="first, second" columns="2">
                        <h:outputLabel style="font-weight: bold;" value="ISBN:"></h:outputLabel>
                        <h:outputText value="#{lib.isbn}"></h:outputText>
                        <h:outputLabel style="font-weight: bold;" value="Titulo:"></h:outputLabel>
                        <h:outputText value="#{lib.titulo}"></h:outputText>
                        <h:outputLabel style="font-weight: bold;"  value="Categoria"></h:outputLabel>
                        <h:outputText value="#{lib.idCategoria.nombre}"></h:outputText>
                        <h:outputLabel style="font-weight: bold;"  value="Resumen:"></h:outputLabel>
                        <h:outputText value="#{lib.descripcion}"></h:outputText>
                    </h:panelGrid>
                </h:panelGroup>
            </h:panelGrid>
        </ui:repeat>
            <h:panelGrid columns="2">
                <h:outputLabel value="No. Articulos: "></h:outputLabel>
                <h:outputText value="#{carroCompra.cantidad}"></h:outputText>
                <h:outputLabel value="Total: "></h:outputLabel>
                <h:outputText value="#{carroCompra.total}"></h:outputText>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

