<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"></h:outputStylesheet>
    </h:head>
    <h:body>
        <h:form>
            <p:graphicImage styleClass="imgcar" library="images" name="Shopping-Cart.png"></p:graphicImage>
                <h3>Carro de compra</h3>
                <ui:repeat id="carlist" var="lib" value="#{carroCompra.carrocompra}">
                <p:panelGrid id="panellist" columns="4">
                    <p:graphicImage id="image" styleClass="imglib" library="images" name="#{lib.libro.isbn}.jpg"></p:graphicImage>
                    <p:outputLabel id="labelt" value="#{lib.libro.titulo}"></p:outputLabel>
                    <p:outputLabel id="cantidad" value="#{lib.cantidad}"></p:outputLabel>
                    <p:outputLabel id="precio" value="#{lib.libro.precio}"></p:outputLabel>
                </p:panelGrid>
                    <p:commandButton update="labelt" actionListener="#{carroCompra.removeCarro(lib.libro)}" icon="ui-icon-close">     
                    </p:commandButton>
                </ui:repeat>
                <p:panelGrid id="panel" columns="2">
                    <p:outputLabel styleClass="shopcarlabel" value="No. Articulos: "></p:outputLabel>
                    <p:outputLabel id="cantT" value="#{carroCompra.cantidad}"></p:outputLabel>
                    <h:outputLabel styleClass="shopcarlabel" value="Total: "></h:outputLabel>
                    <p:outputLabel id="total"  value="#{carroCompra.total}"></p:outputLabel>
                </p:panelGrid>
                <p:commandButton update="cantT, total" actionListener="#{carroCompra.pagar()}" value="Pagar">
                   
                </p:commandButton>
                <p:commandButton update="panel" actionListener="#{carroCompra.cleanCarro()}" value="Limpiar carro"></p:commandButton>

        </h:form>
    </h:body>
</html>

