<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLibroLabel_isbn}" for="isbn" />
                    <h:inputText id="isbn" value="#{libroController.selected.isbn}" title="#{bundle.CreateLibroTitle_isbn}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_isbn}"/>
                    <h:outputLabel value="#{bundle.CreateLibroLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{libroController.selected.titulo}" title="#{bundle.CreateLibroTitle_titulo}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_titulo}"/>
                    <h:outputLabel value="#{bundle.CreateLibroLabel_existencias}" for="existencias" />
                    <h:inputText id="existencias" value="#{libroController.selected.existencias}" title="#{bundle.CreateLibroTitle_existencias}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_existencias}"/>
                    <h:outputLabel value="#{bundle.CreateLibroLabel_precio}" for="precio" />
                    <h:inputText id="precio" value="#{libroController.selected.precio}" title="#{bundle.CreateLibroTitle_precio}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_precio}"/>
                    <h:outputLabel value="#{bundle.CreateLibroLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{libroController.selected.descripcion}" title="#{bundle.CreateLibroTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.CreateLibroLabel_idCategoria}" for="idCategoria" />
                    <h:selectOneMenu id="idCategoria" value="#{libroController.selected.idCategoria}" title="#{bundle.CreateLibroTitle_idCategoria}" required="true" requiredMessage="#{bundle.CreateLibroRequiredMessage_idCategoria}">
                        <f:selectItems value="#{categoriaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{libroController.create}" value="#{bundle.CreateLibroSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{libroController.prepareList}" value="#{bundle.CreateLibroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLibroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
