<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLibroEmpty}" rendered="#{libroController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{libroController.items.rowCount > 0}">
                    <h:outputText value="#{libroController.pagination.pageFirstItem + 1}..#{libroController.pagination.pageLastItem + 1}/#{libroController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{libroController.previous}" value="#{bundle.Previous} #{libroController.pagination.pageSize}" rendered="#{libroController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{libroController.next}" value="#{bundle.Next} #{libroController.pagination.pageSize}" rendered="#{libroController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{libroController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_isbn}"/>
                            </f:facet>
                            <h:outputText value="#{item.isbn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_existencias}"/>
                            </f:facet>
                            <h:outputText value="#{item.existencias}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_precio}"/>
                            </f:facet>
                            <h:outputText value="#{item.precio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_idCategoria}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCategoria}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{libroController.prepareView}" value="#{bundle.ListLibroViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{libroController.prepareEdit}" value="#{bundle.ListLibroEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{libroController.destroy}" value="#{bundle.ListLibroDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{libroController.prepareCreate}" value="#{bundle.ListLibroCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLibroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
