<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="jsfcrud.css"></h:outputStylesheet>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:wizard >
                <p:tab id="personal" title="Información personal">
                    <p:panel header="Porfavor ingrese los siguientes datos">
                        <p:messages/>
                        <h:panelGrid columns="2">
                            <p:outputLabel for="nom" value="#{bundle.RegistroClienteLabel_nombres}"></p:outputLabel>
                            <p:inputText id="nom" value="#{carroCompra.cliente.nombres}" required="true"></p:inputText>
                            <p:outputLabel for="ap" value="#{bundle.RegistroClienteLabel_apellidos}" ></p:outputLabel>
                            <p:inputText id="ap" value="#{carroCompra.cliente.apellidos}" required="true"></p:inputText>
                            <p:outputLabel for="email" value="#{bundle.RegistroClienteLabel_email}"></p:outputLabel>
                            <p:inputText id="email" value="#{carroCompra.cliente.email}" required="true"></p:inputText>
                            <p:outputLabel for="tel" value="#{bundle.RegistroClienteLabel_telefono}"></p:outputLabel>
                            <p:inputMask id="tel" mask="(999)-9-99-99-99" value="#{carroCompra.cliente.telefono}" required="true"></p:inputMask>
                            <p:outputLabel for="dir" value="#{bundle.RegistroClienteLabel_direccion}"></p:outputLabel>
                            <p:inputText id="dir" value="#{carroCompra.cliente.direccion}" required="true"></p:inputText>
                            <p:outputLabel for="ciudad" value="#{bundle.RegistroClienteLabel_ciudad}"></p:outputLabel>
                            <p:inputText id="ciudad" value="#{carroCompra.cliente.ciudad}" required="true"></p:inputText>
                            <p:outputLabel for="login" value="#{bundle.RegistroClienteLabel_login}"></p:outputLabel>
                            <p:inputText id="login" value="#{carroCompra.cliente.login}" required="true"></p:inputText>
                            <p:outputLabel for="pass" value="#{bundle.RegistroClienteLabel_password}"></p:outputLabel>
                            <p:password id="pass" value="#{carroCompra.cliente.password}" required="true"></p:password>
                        </h:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab id="pago" title="Información Bancaria">
                    <p:panel header="">
                        <h:panelGrid columns="2">
                            <p:graphicImage styleClass="card" library="images" name="visa.png"></p:graphicImage>
                            <p:graphicImage styleClass="card" library="images" name="MasterCard.png"></p:graphicImage>
                            <p:outputLabel value="#{bundle.RegistroClienteLabel_tarjeta}"></p:outputLabel>
                            <p:inputMask mask="9999-9999-9999-9999" value="#{carroCompra.cliente.tcNum}">
                                <f:validator validatorId="cardvalidator"></f:validator>
                            </p:inputMask>
                            <p:commandButton update="growl" value="Validar" icon="ui-icon-check"></p:commandButton>
                            
                        </h:panelGrid>
                    </p:panel>
                </p:tab>
                <p:tab id="confirmacion" title="Confirmación">
                    <p:panel header="Resumen de Pedido">
                        <h:panelGrid columns="2">
                            <h:graphicImage></h:graphicImage>
                            <h:panelGroup/>
                            <h:outputText value="Articulos: "></h:outputText>
                            <h:outputText value="#{carroCompra.carrocompra.size()}"></h:outputText>
                            <h:outputText value="Deposito (20%): "></h:outputText>
                            <h:outputText value="#{carroCompra.dep}"></h:outputText>
                            <h:outputText value="Total: "></h:outputText>
                            <h:outputText value="#{carroCompra.total}"></h:outputText>
                            <p:commandButton value="Aceptar" action="#{carroCompra.addPedido()}"></p:commandButton>
                            <p:commandButton value="Seguir comprando" action="#{carroCompra.regresar()}"></p:commandButton>
                        </h:panelGrid>
                    </p:panel>
                </p:tab>
            </p:wizard>
        </h:form>
    </h:body>
</html>

