<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
        <h:panelGrid columns="2">
            <h:outputText value="Número de autorización: " />
            <h:outputText value="#{carroCompra.numaut}" />
            <h:outputText value="Número de pedido: " />
            <h:outputText value="#{carroCompra.nump}" />
            <h:outputText value="Porfavor imprima o guarde este numero" />
            <h:commandButton value="Regresar a inicio" action="#{carroCompra.sesionClear()}" ></h:commandButton>
        </h:panelGrid>
        </h:form>
    </h:body>
</html>

