<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLibroLabel_isbn}"/>
                    <h:outputText value="#{libroController.selected.isbn}" title="#{bundle.ViewLibroTitle_isbn}"/>
                    <h:outputText value="#{bundle.ViewLibroLabel_titulo}"/>
                    <h:outputText value="#{libroController.selected.titulo}" title="#{bundle.ViewLibroTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewLibroLabel_existencias}"/>
                    <h:outputText value="#{libroController.selected.existencias}" title="#{bundle.ViewLibroTitle_existencias}"/>
                    <h:outputText value="#{bundle.ViewLibroLabel_precio}"/>
                    <h:outputText value="#{libroController.selected.precio}" title="#{bundle.ViewLibroTitle_precio}"/>
                    <h:outputText value="#{bundle.ViewLibroLabel_descripcion}"/>
                    <h:outputText value="#{libroController.selected.descripcion}" title="#{bundle.ViewLibroTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewLibroLabel_idCategoria}"/>
                    <h:outputText value="#{libroController.selected.idCategoria}" title="#{bundle.ViewLibroTitle_idCategoria}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{libroController.destroyAndView}" value="#{bundle.ViewLibroDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLibroEditLink}"/>
                <br />
                <h:commandLink action="#{libroController.prepareCreate}" value="#{bundle.ViewLibroCreateLink}" />
                <br />
                <h:commandLink action="#{libroController.prepareList}" value="#{bundle.ViewLibroShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLibroIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
