<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateClienteLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{clienteController.selected.nombres}" title="#{bundle.CreateClienteTitle_nombres}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{clienteController.selected.apellidos}" title="#{bundle.CreateClienteTitle_apellidos}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_email}" for="email" />
                    <h:inputText id="email" value="#{clienteController.selected.email}" title="#{bundle.CreateClienteTitle_email}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_telefono}" for="telefono" />
                    <h:inputText id="telefono" value="#{clienteController.selected.telefono}" title="#{bundle.CreateClienteTitle_telefono}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_telefono}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{clienteController.selected.direccion}" title="#{bundle.CreateClienteTitle_direccion}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{clienteController.selected.ciudad}" title="#{bundle.CreateClienteTitle_ciudad}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_ciudad}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_login}" for="login" />
                    <h:inputText id="login" value="#{clienteController.selected.login}" title="#{bundle.CreateClienteTitle_login}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_login}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_password}" for="password" />
                    <h:inputText id="password" value="#{clienteController.selected.password}" title="#{bundle.CreateClienteTitle_password}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_tcNum}" for="tcNum" />
                    <h:inputText id="tcNum" value="#{clienteController.selected.tcNum}" title="#{bundle.CreateClienteTitle_tcNum}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_tcNum}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clienteController.create}" value="#{bundle.CreateClienteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.CreateClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateClienteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
