<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClienteLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{clienteController.selected.nombres}" title="#{bundle.EditClienteTitle_nombres}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{clienteController.selected.apellidos}" title="#{bundle.EditClienteTitle_apellidos}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_email}" for="email" />
                    <h:inputText id="email" value="#{clienteController.selected.email}" title="#{bundle.EditClienteTitle_email}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_telefono}" for="telefono" />
                    <h:inputText id="telefono" value="#{clienteController.selected.telefono}" title="#{bundle.EditClienteTitle_telefono}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_telefono}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{clienteController.selected.direccion}" title="#{bundle.EditClienteTitle_direccion}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{clienteController.selected.ciudad}" title="#{bundle.EditClienteTitle_ciudad}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_ciudad}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_login}" for="login" />
                    <h:inputText id="login" value="#{clienteController.selected.login}" title="#{bundle.EditClienteTitle_login}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_login}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_password}" for="password" />
                    <h:inputText id="password" value="#{clienteController.selected.password}" title="#{bundle.EditClienteTitle_password}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_tcNum}" for="tcNum" />
                    <h:inputText id="tcNum" value="#{clienteController.selected.tcNum}" title="#{bundle.EditClienteTitle_tcNum}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_tcNum}"/>
                </h:panelGrid>
                <h:commandLink action="#{clienteController.update}" value="#{bundle.EditClienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClienteViewLink}"/>
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.EditClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditClienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
