<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Inicio de sesión</h1>
        <h:form>
            <p:messages autoUpdate="true"></p:messages>
            <h:panelGrid columns="2">
                <h:outputLabel for="usuario" value="#{bundle.LoginUsuarioLabel_usuario}"></h:outputLabel>
                <p:inputText id="usuario" value="#{login.usuario.login}" title="#{bundle.LoginUsuarioLabel_usuario}" required="true" requiredMessage="#{bundle.LoginUsuarioRequiredMessage_usuario}" size="30"></p:inputText>
                <h:outputLabel for="password" value="#{bundle.LoginUsuarioLabel_password}"></h:outputLabel>
                <p:password id="password" value="#{login.usuario.pwd}" title="#{bundle.LoginUsuarioRequiredMessage_password}" required="true" requiredMessage="#{bundle.LoginUsuarioRequiredMessage_password}" size="30"></p:password>
                <h:panelGroup></h:panelGroup>
                <p:commandButton value="#{bundle.LoginUsuarioCommandButton_login}" action="#{login.autenticar()}"></p:commandButton>
            </h:panelGrid>  
        </h:form>
    </h:body>
</html>

