<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewClienteLabel_nombres}"/>
                    <h:outputText value="#{clienteController.selected.nombres}" title="#{bundle.ViewClienteTitle_nombres}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_apellidos}"/>
                    <h:outputText value="#{clienteController.selected.apellidos}" title="#{bundle.ViewClienteTitle_apellidos}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_email}"/>
                    <h:outputText value="#{clienteController.selected.email}" title="#{bundle.ViewClienteTitle_email}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_telefono}"/>
                    <h:outputText value="#{clienteController.selected.telefono}" title="#{bundle.ViewClienteTitle_telefono}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_direccion}"/>
                    <h:outputText value="#{clienteController.selected.direccion}" title="#{bundle.ViewClienteTitle_direccion}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_ciudad}"/>
                    <h:outputText value="#{clienteController.selected.ciudad}" title="#{bundle.ViewClienteTitle_ciudad}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_login}"/>
                    <h:outputText value="#{clienteController.selected.login}" title="#{bundle.ViewClienteTitle_login}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_password}"/>
                    <h:outputText value="#{clienteController.selected.password}" title="#{bundle.ViewClienteTitle_password}"/>
                    <h:outputText value="#{bundle.ViewClienteLabel_tcNum}"/>
                    <h:outputText value="#{clienteController.selected.tcNum}" title="#{bundle.ViewClienteTitle_tcNum}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clienteController.destroyAndView}" value="#{bundle.ViewClienteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewClienteEditLink}"/>
                <br />
                <h:commandLink action="#{clienteController.prepareCreate}" value="#{bundle.ViewClienteCreateLink}" />
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.ViewClienteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewClienteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
