<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAutorlibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAutorlibroLabel_id}" for="id" />
                    <h:inputText id="id" value="#{autorlibroController.selected.id}" title="#{bundle.EditAutorlibroTitle_id}" required="true" requiredMessage="#{bundle.EditAutorlibroRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditAutorlibroLabel_idLibro}" for="idLibro" />
                    <h:selectOneMenu id="idLibro" value="#{autorlibroController.selected.idLibro}" title="#{bundle.EditAutorlibroTitle_idLibro}" required="true" requiredMessage="#{bundle.EditAutorlibroRequiredMessage_idLibro}">
                        <f:selectItems value="#{libroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditAutorlibroLabel_idAutor}" for="idAutor" />
                    <h:selectOneMenu id="idAutor" value="#{autorlibroController.selected.idAutor}" title="#{bundle.EditAutorlibroTitle_idAutor}" required="true" requiredMessage="#{bundle.EditAutorlibroRequiredMessage_idAutor}">
                        <f:selectItems value="#{autorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{autorlibroController.update}" value="#{bundle.EditAutorlibroSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAutorlibroViewLink}"/>
                <br />
                <h:commandLink action="#{autorlibroController.prepareList}" value="#{bundle.EditAutorlibroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAutorlibroIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
