<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAutorlibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAutorlibroEmpty}" rendered="#{autorlibroController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{autorlibroController.items.rowCount > 0}">
                    <h:outputText value="#{autorlibroController.pagination.pageFirstItem + 1}..#{autorlibroController.pagination.pageLastItem + 1}/#{autorlibroController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{autorlibroController.previous}" value="#{bundle.Previous} #{autorlibroController.pagination.pageSize}" rendered="#{autorlibroController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{autorlibroController.next}" value="#{bundle.Next} #{autorlibroController.pagination.pageSize}" rendered="#{autorlibroController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{autorlibroController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorlibroTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorlibroTitle_idLibro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLibro}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAutorlibroTitle_idAutor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAutor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{autorlibroController.prepareView}" value="#{bundle.ListAutorlibroViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{autorlibroController.prepareEdit}" value="#{bundle.ListAutorlibroEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{autorlibroController.destroy}" value="#{bundle.ListAutorlibroDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{autorlibroController.prepareCreate}" value="#{bundle.ListAutorlibroCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAutorlibroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
