<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAutorlibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAutorlibroLabel_id}"/>
                    <h:outputText value="#{autorlibroController.selected.id}" title="#{bundle.ViewAutorlibroTitle_id}"/>
                    <h:outputText value="#{bundle.ViewAutorlibroLabel_idLibro}"/>
                    <h:outputText value="#{autorlibroController.selected.idLibro}" title="#{bundle.ViewAutorlibroTitle_idLibro}"/>
                    <h:outputText value="#{bundle.ViewAutorlibroLabel_idAutor}"/>
                    <h:outputText value="#{autorlibroController.selected.idAutor}" title="#{bundle.ViewAutorlibroTitle_idAutor}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{autorlibroController.destroyAndView}" value="#{bundle.ViewAutorlibroDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAutorlibroEditLink}"/>
                <br />
                <h:commandLink action="#{autorlibroController.prepareCreate}" value="#{bundle.ViewAutorlibroCreateLink}" />
                <br />
                <h:commandLink action="#{autorlibroController.prepareList}" value="#{bundle.ViewAutorlibroShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAutorlibroIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
