<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCategoriaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCategoriaLabel_idCategoria}"/>
                    <h:outputText value="#{categoriaController.selected.idCategoria}" title="#{bundle.ViewCategoriaTitle_idCategoria}"/>
                    <h:outputText value="#{bundle.ViewCategoriaLabel_nombre}"/>
                    <h:outputText value="#{categoriaController.selected.nombre}" title="#{bundle.ViewCategoriaTitle_nombre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{categoriaController.destroyAndView}" value="#{bundle.ViewCategoriaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCategoriaEditLink}"/>
                <br />
                <h:commandLink action="#{categoriaController.prepareCreate}" value="#{bundle.ViewCategoriaCreateLink}" />
                <br />
                <h:commandLink action="#{categoriaController.prepareList}" value="#{bundle.ViewCategoriaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCategoriaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
