<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_numeroPedido}" for="numeroPedido" />
                    <h:inputText id="numeroPedido" value="#{pedidoController.selected.numeroPedido}" title="#{bundle.CreatePedidoTitle_numeroPedido}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_numeroPedido}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_deposito}" for="deposito" />
                    <h:inputText id="deposito" value="#{pedidoController.selected.deposito}" title="#{bundle.CreatePedidoTitle_deposito}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_deposito}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_subtotal}" for="subtotal" />
                    <h:inputText id="subtotal" value="#{pedidoController.selected.subtotal}" title="#{bundle.CreatePedidoTitle_subtotal}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_subtotal}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{pedidoController.selected.fecha}" title="#{bundle.CreatePedidoTitle_fecha}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_status}" for="status" />
                    <h:inputText id="status" value="#{pedidoController.selected.status}" title="#{bundle.CreatePedidoTitle_status}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_confirmacionApartado}" for="confirmacionApartado" />
                    <h:inputText id="confirmacionApartado" value="#{pedidoController.selected.confirmacionApartado}" title="#{bundle.CreatePedidoTitle_confirmacionApartado}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_confirmacionApartado}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_confirmacionVenta}" for="confirmacionVenta" />
                    <h:inputText id="confirmacionVenta" value="#{pedidoController.selected.confirmacionVenta}" title="#{bundle.CreatePedidoTitle_confirmacionVenta}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_confirmacionVenta}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_idCliente}" for="idCliente" />
                    <h:selectOneMenu id="idCliente" value="#{pedidoController.selected.idCliente}" title="#{bundle.CreatePedidoTitle_idCliente}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_idCliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_idUsuario}" for="idUsuario" />
                    <h:selectOneMenu id="idUsuario" value="#{pedidoController.selected.idUsuario}" title="#{bundle.CreatePedidoTitle_idUsuario}" >
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pedidoController.create}" value="#{bundle.CreatePedidoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.CreatePedidoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePedidoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
