<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPedidoLabel_numeroPedido}" for="numeroPedido" />
                    <h:inputText id="numeroPedido" value="#{pedidoController.selected.numeroPedido}" title="#{bundle.EditPedidoTitle_numeroPedido}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_numeroPedido}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_deposito}" for="deposito" />
                    <h:inputText id="deposito" value="#{pedidoController.selected.deposito}" title="#{bundle.EditPedidoTitle_deposito}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_deposito}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_subtotal}" for="subtotal" />
                    <h:inputText id="subtotal" value="#{pedidoController.selected.subtotal}" title="#{bundle.EditPedidoTitle_subtotal}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_subtotal}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{pedidoController.selected.fecha}" title="#{bundle.EditPedidoTitle_fecha}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_status}" for="status" />
                    <h:inputText id="status" value="#{pedidoController.selected.status}" title="#{bundle.EditPedidoTitle_status}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_status}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_confirmacionApartado}" for="confirmacionApartado" />
                    <h:inputText id="confirmacionApartado" value="#{pedidoController.selected.confirmacionApartado}" title="#{bundle.EditPedidoTitle_confirmacionApartado}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_confirmacionApartado}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_confirmacionVenta}" for="confirmacionVenta" />
                    <h:inputText id="confirmacionVenta" value="#{pedidoController.selected.confirmacionVenta}" title="#{bundle.EditPedidoTitle_confirmacionVenta}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_confirmacionVenta}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_idCliente}" for="idCliente" />
                    <h:selectOneMenu id="idCliente" value="#{pedidoController.selected.idCliente}" title="#{bundle.EditPedidoTitle_idCliente}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_idCliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_idUsuario}" for="idUsuario" />
                    <h:selectOneMenu id="idUsuario" value="#{pedidoController.selected.idUsuario}" title="#{bundle.EditPedidoTitle_idUsuario}" >
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pedidoController.update}" value="#{bundle.EditPedidoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPedidoViewLink}"/>
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.EditPedidoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPedidoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
