<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPedidoLabel_numeroPedido}"/>
                    <h:outputText value="#{pedidoController.selected.numeroPedido}" title="#{bundle.ViewPedidoTitle_numeroPedido}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_deposito}"/>
                    <h:outputText value="#{pedidoController.selected.deposito}" title="#{bundle.ViewPedidoTitle_deposito}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_subtotal}"/>
                    <h:outputText value="#{pedidoController.selected.subtotal}" title="#{bundle.ViewPedidoTitle_subtotal}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_fecha}"/>
                    <h:outputText value="#{pedidoController.selected.fecha}" title="#{bundle.ViewPedidoTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPedidoLabel_status}"/>
                    <h:outputText value="#{pedidoController.selected.status}" title="#{bundle.ViewPedidoTitle_status}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_confirmacionApartado}"/>
                    <h:outputText value="#{pedidoController.selected.confirmacionApartado}" title="#{bundle.ViewPedidoTitle_confirmacionApartado}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_confirmacionVenta}"/>
                    <h:outputText value="#{pedidoController.selected.confirmacionVenta}" title="#{bundle.ViewPedidoTitle_confirmacionVenta}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_idCliente}"/>
                    <h:outputText value="#{pedidoController.selected.idCliente}" title="#{bundle.ViewPedidoTitle_idCliente}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_idUsuario}"/>
                    <h:outputText value="#{pedidoController.selected.idUsuario}" title="#{bundle.ViewPedidoTitle_idUsuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pedidoController.destroyAndView}" value="#{bundle.ViewPedidoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPedidoEditLink}"/>
                <br />
                <h:commandLink action="#{pedidoController.prepareCreate}" value="#{bundle.ViewPedidoCreateLink}" />
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.ViewPedidoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPedidoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
