<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <h:form id="form" prependId="false">
            <p:growl id="growl" sticky="true" showDetail="true"/>
            <p:messages rendered="true"></p:messages>
            <h:panelGrid id="busqueda" columns="3">
                <p:inputText id="buscar" value="#{buscaLibroController.busqueda}"></p:inputText>
                <p:selectOneRadio id="selectbusc" value="#{buscaLibroController.opcion}">
                    <f:selectItems value="#{buscaLibroController.opciones}" var="lib" itemLabel="#{opcion}" itemValue="#{opcion}"></f:selectItems>
                </p:selectOneRadio>
                <p:commandButton update="tableresult" id="btnbuscar" value="Buscar" actionListener="#{buscaLibroController.buscarLibro()}">
                </p:commandButton>
            </h:panelGrid>
            <p:dataTable id="tableresult" var="lib" value="#{buscaLibroController.libros}">
                <p:column id="col1">
                    <p:graphicImage styleClass="imglib" library="images" name="#{lib.isbn}.jpg"></p:graphicImage>
                </p:column>
                <p:column id="col2">
                    <h:outputLabel style="font-weight: bold;" value="ISBN:"></h:outputLabel><br/>
                    <h:outputText value="#{lib.isbn}"></h:outputText><br/>
                    <h:outputLabel style="font-weight: bold;" value="Titulo:"></h:outputLabel><br/>
                    <h:outputText value="#{lib.titulo}"></h:outputText><br/>
                    <h:outputLabel style="font-weight: bold;"  value="Categoria"></h:outputLabel><br/>
                    <h:outputText value="#{lib.idCategoria.nombre}"></h:outputText><br/>
                    <h:outputLabel style="font-weight: bold;"  value="Resumen:"></h:outputLabel><br/>
                    <h:outputText value="#{lib.descripcion}"></h:outputText><br/>
                    <p:commandButton update=":form:car" value="Agregar al carro" icon="ui-icon-cart" actionListener="#{carroCompra.addCarro(lib)}" >    
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:panel id="car">
                <p:dataTable widgetVar="carlist" id="carlist"  var="lib" value="#{carroCompra.carrocompra}">
                    <f:facet name="header">
                        <h:outputText value="Carro de compra"/>
                        <p:graphicImage styleClass="imgcar" library="images" name="Shopping-Cart.png"></p:graphicImage>
                    </f:facet>
                    <p:column>
                        <p:graphicImage id="image" styleClass="imglib" library="images" name="#{lib.libro.isbn}.jpg"></p:graphicImage>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Titulo</f:facet>
                        <p:outputLabel id="labelt" value="#{lib.libro.titulo}"></p:outputLabel>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Cantidad</f:facet>
                        <p:outputLabel id="cantidad" value="#{lib.cantidad}"></p:outputLabel>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Precio</f:facet>
                        <p:outputLabel id="precio" value="#{lib.libro.precio}"></p:outputLabel>
                    </p:column>
                    <p:column>
                        <p:commandButton update="carlist" icon="ui-icon-close" actionListener="#{carroCompra.removeCarro(lib.libro)}">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:panelGrid id="panel" columns="2">
                    <p:outputLabel styleClass="shopcarlabel" value="No. Articulos: "></p:outputLabel>
                    <p:outputLabel id="cantT" value="#{carroCompra.cantidad}"></p:outputLabel>
                    <h:outputLabel styleClass="shopcarlabel" value="Total: "></h:outputLabel>
                    <p:outputLabel id="total"  value="#{carroCompra.total}"></p:outputLabel>
                </p:panelGrid>
                <p:commandButton update="growl" id="pagar" action="#{carroCompra.pagar()}" value="Pagar">
                </p:commandButton>
                <p:commandButton update="carlist, panel" actionListener="#{carroCompra.cleanCarro()}" value="Limpiar carro"></p:commandButton>
            </p:panel>
            <br></br>
        </h:form>
        <br />
        <h:link outcome="/autor/List" value="Show All Autor Items"/>
        <br />
        <h:link outcome="/autorlibro/List" value="Show All Autorlibro Items"/>
        <br />
        <h:link outcome="/categoria/List" value="Show All Categoria Items"/>
        <br />
        <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
        <br />
        <h:link outcome="/detallepedido/List" value="Show All Detallepedido Items"/>
        <br />
        <h:link outcome="/libro/List" value="Show All Libro Items"/>
        <br />
        <h:link outcome="/pedido/List" value="Show All Pedido Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
    </h:body>








</html>


