<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css"/>
        <h:outputStylesheet library="css" name="cssLayout.css"/>
        <title><ui:insert name="title">Default Title</ui:insert></title>
<h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>

    <h:body>
         <div id="top" class="top">
            <ui:insert name="top">
                <p:layoutUnit styleClass="" position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Header
                </p:layoutUnit>
            </ui:insert>
        </div>
        <div>
            <div id="left">
                <ui:insert name="left">
                     <br />
                    <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
                    <br />
                    <h:link outcome="/autor/List" value="Show All Autor Items"/>
                    <br />
                    <h:link outcome="/autorlibro/List" value="Show All Autorlibro Items"/>
                    <br />
                    <h:link outcome="/categoria/List" value="Show All Categoria Items"/>
                    <br />
                    <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
                    <br />
                    <h:link outcome="/detallepedido/List" value="Show All Detallepedido Items"/>
                    <br />
                    <h:link outcome="/libro/List" value="Show All Libro Items"/>
                    <br />
                    <h:link outcome="/pedido/List" value="Show All Pedido Items"/>
                    <br />
                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                    <br />
                    <h:link outcome="/autor/List" value="Show All Autor Items"/>
                    <br />
                    <h:link outcome="/autorlibro/List" value="Show All Autorlibro Items"/>
                    <br />
                    <h:link outcome="/categoria/List" value="Show All Categoria Items"/>
                    <br />
                    <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
                    <br />
                    <h:link outcome="/detallepedido/List" value="Show All Detallepedido Items"/>
                    <br />
                    <h:link outcome="/libro/List" value="Show All Libro Items"/>
                    <br />
                    <h:link outcome="/pedido/List" value="Show All Pedido Items"/>
                    <br />
                    <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
                </ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>

</html>
